.about{
    margin-top: 100px;
 
}
.about_container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.about_image{


height: 400px;
width: 400px;
object-fit: contain;
mix-blend-mode: lighten; 
background-position: top;
margin-left: 0px; 
@media (min-width: 1024px) { 
  
    margin-left: 200px; 
   }
}
.about_text{
    margin-top:0 ;
    max-width: 500px;
    margin-right: 0px; 
    @media (min-width: 1024px) { 
      
        margin-right: 150px; 
       }
}
.about_exp{
    font:bolder;
    font-size: 0.875rem;
   line-height: 1.25rem; 
}
.about_count{
font-size: 35px;
font-weight: 400;
color: blue;
margin-bottom: 0.5rem; 
}
.about_bottom{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem; 
    @media (min-width: 1024px) { 
        column-gap: 2.5rem; 
       }
      
}
.about_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.5rem; 
    
@media (min-width: 1024px) { 
    flex-direction: row; 
    justify-content:space-between;
    align-items:center;
   }
}
.about1{
    font-size: 35px;
    font-weight: 700;
    color: chartreuse;
}
.exphead{
    font-size: 35px;
    font-weight: 700;
    color: chartreuse;
    text-align: center;
}
.about2{
    color: rgb(28, 139, 28);
}
.about3{
    color: chartreuse;
}
