.headers{

   padding-bottom: 2rem;
    
}
.header_container{
    width: 100%; 
margin-left: auto;
margin-right: auto; 
}
.headers_content{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.headers_logo{
    height: 150px;
    width: 200px;
    object-fit: contain;
 margin-left: 0px;
 @media (min-width: 1024px) { 
    margin-left: 160px;
   }
}
.headers_btn{
    cursor: pointer;
    background-image:linear-gradient(to right, rgb(13, 223, 16),rgb(152, 149, 149),rgb(242, 176, 232));
    border-radius: 20px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: rgb(250, 247, 247);
    margin-right: 0px;
    @media (min-width: 1024px) { 
        margin-right: 210px;
       }
}
.headers_btn:hover{
    background-image:linear-gradient(to right,rgb(245, 117, 138),rgb(90, 90, 205));
}
@media only screen and (max-width: 600px) {
    .headers{

        padding-bottom: 2rem;
         
     }
     .header_container{
         width: 100%; 
     margin-left: auto;
     margin-right: auto; 
     }
     .headers_content{
         display: flex;
         
         justify-content: space-between;
         align-items: center;
     }
     .headers_logo{
         height: 100px;
         width: 150px;
         object-fit: contain;
      margin-left: 0px;
  
     }
     .headers_btn{
         cursor: pointer;
         background-image:linear-gradient(to right, rgb(13, 223, 16),rgb(152, 149, 149),rgb(242, 176, 232));
         border-radius: 20px;
         height: 40px;
         width: 100px;
         font-size: 13px;
         color: rgb(250, 247, 247);
         margin-right: 0px;
     
     }
  }