.app{
    margin-top: 0px;
    background-image: url("https://wallpapercave.com/dwp1x/wp3354889.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
